<form (ngSubmit)="addClient()" #productForm="ngForm" class="add-form">
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="newClient.name" name="name" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Adresse</mat-label>
    <input matInput [(ngModel)]="newClient.address" name="address">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Telephone</mat-label>
    <input matInput type="number" [(ngModel)]="newClient.telephone" name="telephone">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="text" [(ngModel)]="newClient.email" name="email">
  </mat-form-field>

  <div>
    <button mat-raised-button color="color: white;background-color: red" type="submit">
      Ajouter
    </button>
    <button mat-raised-button color="color: black;background-color: white"  (click)="closeModal()">
      Annuler
    </button>
  </div>
</form>
